<mat-list>
    @for (item of folderContent(); track item) {
    @if (item.kind === 'directory') {
    <mat-list-item button (click)="navigateTo(item)">
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{item.name}}</div>
        <div matListItemMeta>
            <button matIconButton (click)="openCamera( item)">
                <mat-icon>camera</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menuCartella" (click)="$event.stopPropagation()">
                <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menuCartella="matMenu">

                <button mat-menu-item (click)="deleteItem( item)">
                    <mat-icon>delete</mat-icon>
                    <span>Elimina cartella</span>
                </button>
            </mat-menu>
        </div>
    </mat-list-item>
    } @else {
    <mat-list-item>
        <mat-icon matListItemIcon>description</mat-icon>
        <div matListItemTitle>{{item.name}}</div>
        <div matListItemMeta>
            <button matIconButton (click)="deleteItem(item)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-list-item>
    }
    }
</mat-list>